.sociais {
    background-color: var(--laranja-escuro);
    margin-top: 24px;
    height: 100vv;
}

.sociais__lista {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

.sociais__lista a {
    
}

.sociais__lista a img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 250ms;
}
.sociais p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 8px;
}